<div class="mt-4 container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <h3>Thông tin người dùng</h3>
      <ul>
        <li>Tên người dùng : {{member.name}}</li>
        <li>Số điện thoại : {{member.phoneNumber}}</li>
        <li>Email : {{member.email}}</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h3>Hình ảnh người dùng</h3>
      <img src="{{member.image}}" class="img" alt="{{member.name}}" />
    </div>
  </div>
</div>