<div class="mt-4 container-fluid">
  <h3>Cập nhật chính sách</h3>
  <form method="POST" action="/policy/{{policy._id}}?_method=PUT">
    <div class="form-group">
      <label for="name" class="form-label">Tên chính sách</label>
      <input type="text" class="form-control" value="{{name}}" id="name" name="name" />
    </div>

    <div class="form-group">
      <label for="orderPerMonthMin" class="form-label">Số đơn tối thiểu</label>
      <input type="text" class="form-control" value="{{orderPerMonthMin}}" id="orderPerMonthMin"
        name="orderPerMonthMin" />
    </div>

    <div class="form-group">
      <label for="orderPerMonthMax" class="form-label">Số đơn tối đa</label>
      <input type="text" class="form-control" value="{{orderPerMonthMax}}" id="orderPerMonthMax"
        name="orderPerMonthMax" />
    </div>

    <div class="form-group">
      <label for="ratioCommission" class="form-label">Chiếc khấu</label>
      <input type="text" class="form-control" value="{{ratioCommission}}" id="ratioCommission" name="ratioCommission" />
    </div>

    <div class="form-group">
      <label for="note" class="form-label">Mô tả</label>
      <input type="text" class="form-control" value="{{note}}" id="note" name="note" />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Sửa chính sách</button>
  </form>
</div>